@using HW_4_19.Models;
@model HomePageViewModel
@using WebAuthentication.Data;

<div class="row">

    <div class="col-md-6 offset-md-3">
        <div class="bg-light p-4 rounded shadow mb-3">
            <h5>Listed by Jobs</h5>
            <h5>Listed on Sunday, 23 April 2023</h5>
            <h5>Phone Number: 732</h5>
            <h3>Details:</h3>
            <p>new</p>

        </div>
        @foreach (Ad ad in Model.Ads)
        {
            <div class="bg-light p-4 rounded shadow mb-3">
                <h5>Listed by @ad.Name</h5>
                <h5>Listed on @ad.DateListed.ToLongDateString()</h5>
                <h5>Phone Number: @ad.PhoneNumber</h5>
                <h3>Details:</h3>
                <p>@ad.Details</p>
                @if (ad.UserId == Model.UserId)
                {
                    <form method="post" action="/home/deletead">
                        <input type="hidden" name="id" value="@ad.Id" />
                        <button class="btn btn-danger">Delete</button>
                    </form>
                }
            </div>
        }
        </div>
        </div>
